.background-design {
  background-color: #152b48;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-centre {
  display: flex;
  justify-content: center;
  color: white;
}

[data-darkreader-inline-bgcolor]{
  background-color: lightblue !important;
}