.background-design {
  background-color:rgb(182, 220, 255);

  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-centre {
  display: flex;
  justify-content: center;
}

